---

---

<section id="about">
  <div
    class="px-6 pt-48 pb-48 relative flex flex-col md:flex-row place-items-center justify-around gap-14 md:gap-24 lg:gap-36 bg-stars-pattern font-poppin bg-[length:300px_300px] "
  >
    <img
      class="px-8 bottom-0 absolute invisible lg:visible"
      src="/star-constellation.svg"
    />

    <div class="flex flex-col md:flex-row place-items-center">
      <img class="mx-4 w-16" src="/single-star.svg" />
      <div
        class="px-2 font-semibold md:font-bold md:text-5xl text-3xl flex flex-row md:flex-col text-gold"
      >
        <h1 class="pb-6 text-[#FFCE6A] drop-shadow-[0px_0px_4px_#FFCE6A]">
          About
        </h1>
        <h1
          class="ml-2 md:ml-0 text-[#FFCE6A] drop-shadow-[0px_0px_4px_#FFCE6A]"
        >
          SparkHacks
        </h1>
      </div>
    </div>

    <div class="max-w-screen-lg flex flex-col text-white z-[1]">
      <div class="pb-12 md:pt-0">
        <h2 class="text-3xl font-bold md:font-semibold">What?</h2>
        <p class="pt-4 font-bold md:font-normal text-xl">
          SparkHacks is a 24-hour hackathon hosted by the Department of Computer Science at the University of Illinois Chicago along with several different CS-based student organizations. This is the second iteration of SparkHacks and aims to provide an environment to learn, collaborate with peers, and build a project that tackles our problem statements for a chance to win prizes!
        </p>
      </div>

      <div class="pb-12">
        <h2 class="text-3xl font-bold md:font-semibold">Why?</h2>
        <ol class="pt-4 font-bold md:font-normal text-xl gap-3 flex flex-col">
          <li><span class="font-[1000]">Experience:</span> You will get complete hands-on experience of building something outside of your standard curriculum. You can add this as a side project on your resume which sets you apart during your internship search!</li>
          <li><span class="font-[1000]">Technical Skills:</span> We are introducing Pre Hack Workshops this year to equip you with the skills to tackle various prompts and build your technical expertise. These along with various Sponsor Workshops give you a chance to explore Computer Science from the perspective of the industry.</li>
          <li><span class="font-[1000]">Community:</span> Surviving Computer Science is all about building your support network. Here you get a chance to ideate and code with your friends as you eat free food, wear-free merch, play games, and win amazing prizes!</li>
        </ol>
      </div>

      <div class="pb-12">
        <h2 class="text-3xl font-bold md:font-semibold">When?</h2>
        <p class="pt-4 font-bold md:font-normal text-xl">
          SparkHacks will be held on Friday, February 9th from 2:30 pm - 9 pm and Saturday, February 10th from 9 am - 8 pm. We will also be having Pre-Hack Workshops from Monday-Thursday, February 5th - 8th.
        </p>
      </div>

      <div>
        <h2 class="text-3xl font-bold md:font-semibold">Where?</h2>
        <p class="pt-4 font-bold md:font-normal text-xl">
          Day 1 of SparkHacks will be held at Student Center East <a class=" text-[#FFCE6A] cursor-pointer" href="https://www.google.com/maps/place/UIC+Student+Center+East/@41.8719163,-87.650523,17z/data=!3m1!4b1!4m6!3m5!1s0x880e2ce8bf0127db:0x40f8d1416f07f0de!8m2!3d41.8719123!4d-87.6479481!16s%2Fg%2F1vk6ztj0?entry=ttu" target="_blank">(SCE)</a> and Day 2 will be at the Academic and Residential Complex <a class=" text-[#FFCE6A] cursor-pointer" href="https://www.google.com/maps/place/UIC+Academic+and+Residential+Complex/@41.8745213,-87.6532149,17z/data=!3m1!4b1!4m6!3m5!1s0x880e2db4d1f9df7f:0x7d5042f611ffbf01!8m2!3d41.8745173!4d-87.65064!16s%2Fg%2F11flmry7j2?entry=ttu" target="_blank">(ARC)</a>.
        </p>
      </div>
    </div>
  </div>
</section>
