---
import Sponsor from "./sponsor.jsx";
import Information from "./information.jsx"
import FAQ from "./FAQ.jsx";
import About from "./About.astro";
import Schedule from "./Schedule";
---
<div class="w-full min-h-full ">

<About/>
<Information client:load/>
<Schedule/>
<FAQ client:load/>
<Sponsor client:load/>





</div>