---
import ExampleScreen from "./test.astro"
import Freqaskquest from "./freqaskquest.jsx";
---


<div class="w-full bg-[linear-gradient(180deg,_#0A0E29_0%,_#201757_22.03%,_#7260DC_53.12%,_#F392DE_78.65%,_#FFF_100%);] h-[3868px]">


<ExampleScreen/>
<ExampleScreen/>
<Freqaskquest client:load/>

  
</div>./freqaskquest.jsx