<div class="w-full h-screen flex place-items-center justify-center bg-stars-pattern bg-[length:300px_300px] bg-[#0A0E29] pt-[77px] text-white">
  <div>
    kevin is still making the hero section 😒, scroll down...
  </div>
</div>