<div class="w-full h-screen bg-stars-pattern pt-20 text-white overflow-y-visible">
  <!-- Main Hero -->
  <div class="CTA h-5/6 order-first flex w-full align-middle">
    <div class="main-name basis-1/3 lg:ml-10 md:ml-0 grid place-items-center">
      <div>
        <div class=" font-hyperhelix text-white md:text-7xl text-5xl">
          <h1>Sparkhacks</h1>
          <h1>2024</h1>
        </div>

        <div class="CTA-button flex lg:justify-start justify-center items-center lg:flex-row flex-col gap-4 mt-4 text-center">
          <a href="https://forms.gle/fuwaN1UBrd5zC2hEA" target="_blank" class="RSVP w-60 font-poppin font-bold">Apply Here</a>
          <a href="#about" class="Info w-60 font-poppin font-bold">Information</a>
        </div>

        <div class="flex lg:justify-start items-center mt-6 gap-[1.75rem] flex-row lg:ml-2 ml-0 justify-center">
          <a class="cursor-pointer hover:-translate-y-1 transition-all duration-200" target="_blank">
            <img src="/discordlogo.png" class="w-[25px]"/>
          </a>
          <a class="cursor-pointer hover:-translate-y-1 transition-all duration-200" target="_blank" href="https://www.instagram.com/sparkhacksuic/">
            <img src="/instagram.png" class="w-[25px]"/>
          </a>
          <a class="cursor-pointer hover:-translate-y-1 transition-all duration-200" target="_blank" href="https://github.com/SparkHacks">
            <img src="/github.png" class="w-[25px]"/>
          </a>
          <a class="cursor-pointer hover:-translate-y-1 transition-all duration-200" target="_blank" href="https://www.linkedin.com/company/sparkhacks/">
            <img src="/linkedin.png" class="w-[25px]"/>
          </a>
          <a class="cursor-pointer hover:-translate-y-1 transition-all duration-200" target="_blank" href="mailto:sparkhacks@uic.edu">
            <img src="/emaillogo.png" class="w-[25px]"/>
          </a>
        </div>
      </div>
    </div>

    <div class="logo-div basis-2/3 order-last ml-10 grid place-items-center relative">
      <img src="/logo.png" class="logo w-[80%] h-[80%] object-cover z-10" />
      <div class="w-full h-full absolute">
        <img
        src="/orbit.gif"
        class="relative top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 scale-x-[1.2] scale-y-[1.2] opacity-25"
      />
      </div>
      
    </div>
  </div>

  <!-- Scroll Menu -->
  <div class="h-1/6 items-center justify-center w-full">
    <div class="flex w-full justify-center items-center pt-3">
      <img src="/mouse.svg" class="h-12" />
    </div>

    <div class="flex w-full justify-center items-center">
      <h1 class="text-xl font-[500]">Scroll down</h1>
    </div>

    <div class="flex w-full justify-center items-center pt-4">
      <img src="/arrow.svg" class="h-7.5 object" />
    </div>
  </div>
</div>

<style>
  .object {
    -webkit-animation: action 1s infinite alternate;
    animation: action 1s infinite alternate;
  }

  @-webkit-keyframes action {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  @keyframes action {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  /* button stuff */
  .CTA-button a {
    border: 0;
    background-color: transparent;
    color: black;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s linear;
    border-radius: 5rem;
  }

  .CTA-button .RSVP {
    background-color: white;
    color: black;
  }

  .CTA-button .RSVP:hover {
    background-color: rgba(255, 255, 255, 0.596);
    color: white;
    transform: scale(1.05);
  }

  .CTA-button .RSVP:active {
    transform: scale(0.95);
  }

  .CTA-button .Info {
    color: white;
    border: 1px white solid;
  }

  .CTA-button .Info:hover {
    color: black;
    background-color: white;
  }

  .CTA-button .Info:active {
    transform: scale(0.95);
  }

  .logo {
    height: auto;
    overflow: auto;
  }

  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  @media screen and (max-width: 1024px) {
    .logo-div {
      display: none;
    }

    .CTA {
      align-items: center;
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }

  }
</style>
