---
import '@fontsource/poppins';
import Skyline from '../assets/skyline.astro'
import Header from '../components/header.jsx'



interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[linear-gradient(180deg,_#0A0E29_0%,_#0A0E29_21.45%,_#201757_41.63%,_#7260DC_61.73%,_#F392DE_83.26%,_#FFF_100%)]">
		
		<Header client:load/>
			
		</div>
		<slot />
		<div class="w-full overflow-hidden translate-y-1">
			<Skyline />
		</div>
		<div id="footer" class="bottom-0 left-0 h-full w-full bg-black text-white py-8 px-6 flex flex-col justify-between z-10">
			<div class="flex md:flex-row flex-col md:gap-4 gap-16 justify-around place-items-center w-full px-16">
				<img src="/logo-gray.png" class="w-24"/>
				<div class="flex flex-col place-items-center">
					<a class="font-semibold pb-1" href="/">SparkHacks 2024</a>
					<a class="underline text-blue-300" href="/">sparkhacks@uic.edu</a>
				</div>
				<div class="flex flex-col place-items-center">
					<p class="font-semibold pb-2">Follow Us</p>
					<div class="flex flex-row gap-4">
						<img src="/instagram.png" class="w-6"/>
						<img src="/github.png" class="w-6"/>
						<img src="/linkedin.png" class="w-6"/>
					</div>
				</div>
			</div>
			<div class="flex w-full md:mt-4 mt-16 px-16 items-center justify-center text-center">
				<span>Made with love ♥️</span>
			</div>
		</div>
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'HyperHelix';
		src: url('./fonts/HyperheliX.ttf') format('opentype');
		font-weight: normal;
		font-style: normal;
		font-display: block;
	}

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}

	::-webkit-scrollbar {
    width: 10px;
	}
	
	/* Track */
	::-webkit-scrollbar-track {
			background: #1d1135;
			border-radius: 5px;
	}
	
	/* Handle */
	::-webkit-scrollbar-thumb {
			background: rgba(255, 255, 255, 0.122);
			border-radius: 5px;
	}
	
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
			background: #555;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
